/* 
#04BBFF
#0594D0
#007198
#003C57
#051C24
*/
/* On defini notre police */
body{
    margin: auto; 
    font-family: 'Roboto', sans-serif;
    background: #1a1a1a;
    height: 200vh;
    color : white;
}

.entete{
    background-color: #003C57;
    color: #04BBFF;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    margin: auto;
}


/* MENU */
.menu{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #007198;
    font-size : 1.5em;
    position: fixed;
    height: 100%;
    width: 300px;
}
/* les items dans le menu */

.menu .items{
    color: #051C24;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em;
    margin: 0.5em;
    
}
.menu .items:hover{
    background-color: #051C24;
    color : #007198;
    transition: background-color 0.7s;
}
/* Partie de droite */
.corp{
    margin-left: 300px;
}
.main{
    padding: 0.5em;
    
    width: 98%;
    height:auto;
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.form{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.form .txt{
    margin: 0.5em;
    font-size: 1.5em;
}
.form .input{
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #051C24;
}
.form .items{
    font-size: 1.5em;
}
.form .button{
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 10px;
    background-color: #051C24;
    color: #007198;
    font-size: 1.5em;
    font-weight: bold;
    transition: background-color 0.7s;
}

.form .button:hover{
    background-color: #007198;
    color: #051C24;
    transition: background-color 0.7s;
}
/* keyframe gauche vers la droite */
@keyframes gauche_droite{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
/* keyframe haut vers bas plus opacité */
@keyframes haut_bas{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}